h1{
	color: rgba(0, 85, 128, 1);
}
body{
	background-color: rgba(255, 255, 255, 1);
	font-family: Arial, Helvetica;
	-webkit-font-size: 100%;
}
h2{
	font-size: 120%;
	text-transform: uppercase;
	font-weight: bold;
}
table{
	width: 90%;
	border-collapse: collapse;
}
td, th{
	border-bottom: 1px solid;
	padding: 0.5em 0.1em 0.5em;
}
